@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- landing -->
<section class="landing" id="landing">
    <section class="discover row">
        <div class="col col-md-8 col-lg-12 col-xl-10 col-xxl-8">
            <h2>با من بیشتر آشنا بشید! همین الان نمونه کارهام رو ببین.</h2>
            <p class="code" dir="ltr">
                &lt;<span class="highlight">code</span>&gt;
                <span class="text-pointer"></span>
                <span class="speech" dir="rtl"></span>
                &lt;/<span class="highlight">code</span>&gt;
            </p>
            <a href="#portfolio" class="big-button portfolio-button">نمونه کار‌های من</a>
        </div>
    </section>
    <section class="work-stats">
        @await Component.InvokeAsync("ExperienceInfoComponent")
    </section>
</section>

<!-- services -->
<section class="services" id="services">
    @await Component.InvokeAsync("ServicesComponent")
</section>

<section class="portfolio" id="portfolio">
    <h4 class="main-section-heading">نمونه کارها</h4>
    <div class="portfolio-categories">
        @await Component.InvokeAsync("CategoriesComponent")
    </div>
    <div class="row g-4" id="projectsList">
    </div>
</section>

<section class="timelines" id="timelines">
    @await Component.InvokeAsync("HistoryLinesComponent")
</section>

<!-- contact section -->
<section class="contact" id="contact">

    <!-- contact informations -->
    <section class="contact-infos">
        <h4 class="main-section-heading">اطلاعات تماس</h4>
        @await Component.InvokeAsync("ContactInfoComponent")
    </section>

    <!-- send message form (get in touch) -->
    <section class="send-message">
        <h4 class="main-section-heading">در تماس باشید</h4>
        @*  <form asp-action="Index" class="send-message-form">

            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="input-box">
                <label>
                    <i class="bi bi-person-fill"></i>
                </label>
                <input asp-for="@Model.MsgFullName" class="inputter" type="text" placeholder="نام و نام‌خانوادگی" />
            </div>
            <div class="input-box">
                <label>
                    <i class="bi bi-at"></i>
                </label>
                <input asp-for="@Model.MsgEmail" class="inputter" type="text" placeholder="ایمیل" />
            </div>
            <div class="input-box">
                <label>
                    <i class="bi bi-envelope-fill"></i>
                </label>
                <textarea asp-for="@Model.MsgMessage" class="inputter" rows="6" placeholder="متن پیام"></textarea>
            </div>

            <button class="big-button">ارسال پیام</button>
        </form> *@
    </section>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        function getProjects(categoryId) {
            $("#projectsList").load('/project/GetProjects?categoryId=' + categoryId, function () {
                workBody();
            });
        }

    </script>
}