Aminimanesh.Core/Senders/SendEmail.cs
Aminimanesh.Web/wwwroot/Posts
Aminimanesh.Web/wwwroot/Presentation
Aminimanesh.Core/bin
Aminimanesh.Core/obj
Aminimanesh.Web/bin
Aminimanesh.Web/obj
Aminimanesh.DataLayer/bin
Aminimanesh.DataLayer/obj
