@using Aminimanesh.Core.DTOs.SocialDTOs
@model List<SocialListItemDTO>

<div>
    @foreach (var social in Model)
    {
        <!-- social -->
        <a href="@social.LinkAddress"><i class="bi bi-@social.Icon" title="@social.Title"></i></a>
    }
</div>