<header class="main-menu">
    <a id="open-menu" class="menu-open" href="#">
        <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </a>
    <nav id="navigation">
        <ul>
            <li><a class="secondary-link active" href="/#main-section">صفحه اصلی</a></li>
            <li><a class="secondary-link " href="/#portfolio">نمونه کارها</a></li>
            <li><a class="secondary-link " href="/#timelines">سابقه</a></li>
            <li><a class="secondary-link " href="/#contact">تماس با من</a></li>
        </ul>
    </nav>
    <span class="page-title">صفحه اصلی</span>
</header>