<div class="image-modal-container">
    <div class="image-modal-background"></div>

    <button class="image-modal-close">
        <i class="bi bi-x-lg"></i>
    </button>
    <div class="image-modal-box">
        <img class="img-fluid" src="" alt="">
    </div>
</div>