@using Aminimanesh.Core.DTOs.OwnerDTOs
@model ProfileInfoDTO

<div class="profile-image">
    <img src="/owner/img/@Model.Avatar" alt="محمد امین امینی منش">
    <span class="status beat">
        <span class="availability">من برای همکاری و گرفتن پروژه آماده ام !</span>
    </span>
</div>
<a asp-controller="Home" asp-action="Index" title="امینی منش - برنامه نویس بک اند و فرانت اند و طراح وبسایت">
    <h1 class="fullname">@Model.FullName</h1>
</a>
<p class="main-job">@Model.FirstJob</p>
<p class="secondry-job">@Model.SecondJob</p>
<!-- CV download link -->
<a class="big-button download-cv" asp-controller="Owner" asp-action="DownloadCV" title="رزومه امینی منش - برنامه نویس بک اند و فرانت اند وبسایت">
    <i class="bi bi-download"></i>
    دانلود رزومه‌ی من
</a>