@{
    ViewData["Title"] = $"خطای {ViewData["Code"]}";
}

@section Styles {
    <link rel="stylesheet" href="~/css/error-page.css">
}

<section class="error-container">
    <h1>خطای <span class="error-code">@ViewData["Code"]</span></h1>
    <h2>@ViewData["Message"]!</h2>

    <a class="big-button" asp-action="Index" asp-controller="Home" asp-area="">بازگشت به صفحه اصلی</a>
</section>